@font-face {
    font-family: 'BL Melody';
    font-style: normal;
    font-weight: 500;
    src: local('BL Melody'), url('/fonts/BLMelody-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local('Inter'), url('/fonts/Inter-Medium.woff') format('woff');
}

@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/InterDisplay-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'BL_Melody';
  src: url('/public/fonts/BLMelody-Medium.woff2') format('woff2');
}

.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
